@import url("http://fonts.cdnfonts.com/css/hando-soft-trial");
/* font-family: 'Hando Soft Trial', sans-serif; */
@import url("http://fonts.cdnfonts.com/css/kids-text-display-2");
/* font-family: 'KIDS Display', sans-serif;
font-family: 'KIDS Text', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap");
/* font-family: 'Yuji Mai', serif; */
.image-container img {
  height: 500px;
}
.movie-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.movie-container h4 {
  font-family: Hando Soft Trial, Verdana;
  font-size: 30px;
  line-height: 30px;
  color: var(--h4);
  margin: 20px;
  text-align: center;
}
.movie-container h3 {
  font-family: "Yuji Mai", serif;
  font-size: 34px;
  color: var(--h3);
  margin: 0;
  line-height: 30px;
}
.description {
  font-family: "KIDS Text", sans-serif;
  text-align: justify;
}
.production {
  font-family: "Hando Soft Trial", sans-serif;
  text-transform: uppercase;
  color: var(--text-secondary);
}
