.footer {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "KIDS Display", sans-serif;
  letter-spacing: 2px;
  gap: 20px;
}
.footer img {
  height: 20px;
}
